<div id="content">
<h1>{{headerTitle}}</h1>
<ul>
  <li *ngFor="let post of posts$">
    <a routerLink="/article/{{post.id}}">{{ post.title }}</a>

    <!--<p>{{ post.body }}</p>-->
  </li>
</ul>
</div>