<main id='parentWindow'>
    <mat-divider></mat-divider>
    <h1> Create Your Article </h1>
    <mat-divider></mat-divider>

<form class="createArticleForm"> 

  <mat-form-field class="example-full-width">
    <input matInput placeholder="Article Title">
  </mat-form-field>
            
  <mat-form-field class="example-full-width">
    <textarea matInput mat-autosize matAutosizeMaxRows=9 matAutosizeMinRows=6 placeholder="Article Body"></textarea>
  </mat-form-field>
            
  <button mat-button>Submit The Article</button>
    
</form>
</main>