main{
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
    //margin-bottom: 4%;
    padding-top: 4%;
    padding-left: 4%;
    padding-right: 4%;
    background: #fff;
    border-radius: 2%;
    box-shadow: 0 -9px 20px 0px rgba(0, 0, 0, 0.19);    
}

h1{
    text-align: center;
}

.example-full-width {
    width: 100%;
}

form{
    padding: 4%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25%;
    align-content: center;
    height: 100%;
}