main{
    margin-top: 2%;
    margin-left: 4%;
    margin-right: 4%;
    padding: 4%;
    background: #fff;
    border-radius: 2%;
    box-shadow: 0 -9px 20px 0px rgba(0, 0, 0, 0.19);    
}

h1{
    text-align: center;
}

article{
    padding: 4%;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 25%;
    align-content: center;
    height: 100%;
}

//*********** Comment Section **********//

#commentInput{
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 4;
    padding: .4%;
    margin: .1%;
    align-content: center;
}

#commentInput > textarea{
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 2;
    grid-column-end: 2;
}

#commentInput > button{
    width: fit-content;
    grid-row-start: 1;
    grid-row-end: 1;
    grid-column-start: 3;
    grid-column-end: 3;
}

#commentList{
    list-style-type: none;
}

.comment{
    display: grid;
    grid-template-columns: 1;
    grid-template-rows: 2;
}