<main id='parentWindow'>
  <mat-divider></mat-divider>
  <h1> {{post$.title}} </h1>
  <mat-divider></mat-divider>

<article> 
{{post$.body}}  
</article>

<mat-divider></mat-divider>

<form id="commentInput">
    <mat-form-field>
        <textarea matInput mat-autosize matAutosizeMaxRows=2 matAutosizeMinRows=1 placeholder="Comment"></textarea>
    </mat-form-field>
      <button mat-button>Comment</button>
</form>

<mat-divider></mat-divider>
<ul id="commentList">
  <li *ngFor="let comment of comments$" class="comment">
    <a routerLink="" >{{comment.name}}</a>
    <span>{{comment.body}}</span>
  </li>
</ul>

</main>