<!--<mat-grid-list cols='3' rowHeight='4:2' height='100vh'>
    <mat-grid-tile colspan='1'><app-sidebar></app-sidebar></mat-grid-tile>
    <mat-grid-tile colspan='2'><router-outlet></router-outlet></mat-grid-tile>
</mat-grid-list>-->

<mat-sidenav-container class="example-container" >
        <mat-sidenav #drawer mode="side" opened role="navigation" ><app-sidebar></app-sidebar></mat-sidenav>
        <mat-sidenav-content><router-outlet></router-outlet></mat-sidenav-content>
</mat-sidenav-container>