<mat-nav-list>
        <a mat-list-item routerLink="articleCreate" [class.activated]="currentUrl == '/articleCreate'">
            <mat-icon matListIcon>create</mat-icon>
            New Article</a>
        <a mat-list-item routerLink="MyArticles" [class.activated]="currentUrl == '/MyArticles'">
            <mat-icon matListIcon>inbox</mat-icon>
            My Articles</a>
        <a mat-list-item routerLink="MyFavorites" [class.activated]="currentUrl == '/MyFavorites'">
            <mat-icon matListIcon>favorite</mat-icon>
            My Favorites</a>
        <a mat-list-item routerLink="" [class.activated]="currentUrl == '/'">
            <mat-icon matListIcon>all_inclusive</mat-icon>
            All Articles</a>
</mat-nav-list>